html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.row {
    display: block;
    white-space: nowrap;
    height: 36px;
}

.cell {
    display: inline-block;
    width: 100px;
    height: 100%;
    padding: 8px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.header {
    background: #DDDDDD;
}

.header-row {
    text-align: center;
}

.header-column {
    text-align: right;
}

.cell:last-child {
    border-right: 1px solid black;
}

.row:last-child > .cell {
    border-bottom: 1px solid black;
}
