html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

button {
    margin: 16px 0;
    background: #e1523d;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 16px;
}

.row {
    display: block;
    white-space: nowrap;
    height: 36px;
}

.cell {
    display: inline-block;
    width: 100px;
    height: 100%;
    padding: 8px;
    font-family: Helvetica, sans-serif;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
}

.header {
    background: #DDDDDD;
    user-select: none;
    font-weight: 600;
    color: #333333;
}

.header-row {
    text-align: center;
}

.header-column {
    text-align: right;
}

.cell:last-child {
    border-right: 1px solid #999999;
}

.row:last-child > .cell {
    border-bottom: 1px solid #999999;
}
